@model MusicLessonSch.Models.TeacherViewModel;
@{
    ViewData["Title"] = "Edit Teacher";
    ViewData["Header"] = "Edit teacher";
    ViewData["Action"] = "Edit";
    ViewData["Button"] = "Update";
    Layout = "Teachers/_CreateEdit";
}


<label asp-for="Instruments"></label>
<p class="text-danger">Select instruments that you want to remove from this teacher</p>
<ul>
    @for(int i = 0; i < Model.Instruments.Count; i++)
    {
        <li> 
            <input type="checkbox" asp-for="@Model.Instruments[i].IsRemoved" id="@Model.Instruments[i].Id" class="form-check-input"/>
            <label for="@Model.Instruments[i].Id" class="form-check-label">@Html.DisplayFor(m => Model.Instruments[i].Name)</label>
            <input type="hidden" asp-for="@Model.Instruments[i].Name" />
            <input type="hidden" asp-for="@Model.Instruments[i].Id" />
        </li>
    }
</ul>
